.UI{
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: Canvas;
}

    main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    }
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background: Canvas;
  color: CanvasText;
}
}


.calc_display {
  display: flex;
  align-items: center;
  
  width: 260px;
  height: 60px;

  font-size: 32px;
  font-family: 'Courier New', monospace;

  text-align: right;
  padding: 10px 15px;

  background: #111;
  color: #0f0;

  border: none;
  border-radius: 8px;

  box-shadow:
    inset 0 0 8px #000,
    0 4px 10px rgba(0,0,0,0.4);
}

.display_text {
    flex-grow: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.calc_button{
    width: 60px;
    height: 60px;
    
    font-size: 32px;
    font-family: 'Courier New', monospace;

    text-align: center;
    padding: 10px 10px;
    
    background: #545659;
    color: rgb(198, 196, 196);

    border: none;
    border-radius: 8px; 

    box-shadow:
    inset 0 0 8px #000,
    0 4px 10px rgba(0,0,0,0.4);
}
.calc_button:active {
  transform: scale(0.97);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}

.calc_ca{
  margin-left: auto;
  
  width: 60px;
  height: 60px;
    
  font-size: 32px;
  font-family: 'Courier New', monospace;

  text-align: center;
  padding: 10px 10px;
    
  background: #545659;
  color: rgb(198, 196, 196);

  border: none;
  border-radius: 8px; 

  box-shadow:
  inset 0 0 8px #000,
  0 4px 10px rgba(0,0,0,0.4);
}
.calc_ca:active {
  transform: scale(0.97);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.calc_eq{
    width: 243px;
    height: 60px;
    
    font-size: 32px;
    font-family: 'Courier New', monospace;

    text-align: center;
    padding: 10px 10px;
    
    background: #545659;
    color: rgb(198, 196, 196);

    border: none;
    border-radius: 8px; 

    box-shadow:
    inset 0 0 8px #000,
    0 4px 10px rgba(0,0,0,0.4);
}
.calc_eq:active {
  transform: scale(0.97);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}

.cursor {
  opacity: 0;
  display: inline-block;
  transition: opacity 0.1s linear;
}
.cursor.active {
    opacity: 1;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}